<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Core Components - Popup Menu</title>
    <link rel="stylesheet" href="/@massds/mds-tokens/dist/index.css" />
    <link rel="stylesheet" href="styles.css" media="all" />
  </head>
  <body>
    <main class="mds-popup-menu__container">
      <h1>Pop-up menu</h1>
      <button class="mds-popup-menu-trigger" aria-haspopup="true" aria-controls="mds-popup-menu-links">
        Open Popup Menu with links
      </button>
      <div id="mds-popup-menu-links" class="mds-popup-menu" role="menu">
        <ul>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam sit amet lacus molestie dapibus molestie eu diam. Donec vitae diam in nunc ultricies euismod.
              </span>
              <!-- <svg
                class="mds-popup-menu__caret"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M4 12h10" />
                <path d="M11 6l6 6-6 6" />
              </svg> -->
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
        </ul>
      </div>

      <h2>Popup menu with buttons</h2>
      <button class="mds-popup-menu-trigger" aria-haspopup="true" aria-controls="mds-popup-menu-buttons">
        Open Popup Menu with buttons
      </button>
      <div id="mds-popup-menu-buttons" class="mds-popup-menu" role="menu">
        <ul>
          <li>
            <button type="button" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </button>
          </li>
          <li>
            <button type="button" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </button>
          </li>
          <li>
            <button type="button" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </button>
          </li>          
        </ul>
      </div>
    </main>
    <script src="popup-menu.js"></script>
    <script>
      popupMenu.init();
    </script>
  </body>
</html>
