<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Core Components - Popup Menu</title>
    <link rel="stylesheet" href="/@massds/mds-tokens/dist/index.css" />
    <link rel="stylesheet" href="styles.css" media="all" />
  </head>
  <body>
    <main>
      <h1>Pop-up menu</h1>
      <button
        class="mds-popup-menu-trigger"
        aria-haspopup="true"
        aria-controls="popup-menu"
      >
        Open Popup Menu
      </button>
      <div id="mds-popup-menu" class="mds-popup-menu" role="menu">
        <ul>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
              <svg
                class="mds-popup-menu__caret"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M4 12h10" />
                <path d="M11 6l6 6-6 6" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
              <svg
                class="mds-popup-menu__caret"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M4 12h10" />
                <path d="M11 6l6 6-6 6" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
              <svg
                class="mds-popup-menu__caret"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M4 12h10" />
                <path d="M11 6l6 6-6 6" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
              <svg
                class="mds-popup-menu__caret"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M4 12h10" />
                <path d="M11 6l6 6-6 6" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
              <svg
                class="mds-popup-menu__caret"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M4 12h10" />
                <path d="M11 6l6 6-6 6" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
              <svg
                class="mds-popup-menu__caret"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M4 12h10" />
                <path d="M11 6l6 6-6 6" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </main>
    <script src="popup-menu.js"></script>
    <script>
      popupMenu.init();
    </script>
  </body>
</html>
