<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Core Components - Popup Menu</title>
    <link rel="stylesheet" href="/@massds/mds-tokens/dist/index-dark.css" />
    <link rel="stylesheet" href="styles.css" media="all" />
  </head>
  <body class="dark">
    <main class="mds-popup-menu__container">
      <h1>Pop-up menu (Dark mode)</h1>
      <button
        class="mds-popup-menu-trigger"
        aria-haspopup="true"
        aria-controls="mds-popup-menu-links"
      >
        Open Popup Menu with links
      </button>
      <div id="mds-popup-menu-links" class="mds-popup-menu" role="menu">
        <ul>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam sit amet lacus molestie dapibus molestie eu diam. Donec vitae diam in nunc ultricies euismod.
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
        </ul>
      </div>
      <p>This is just some text to show that the menu floats on top of it.</p>
      <h2 style="margin-top: 48px; text-align: right">Popup menu on right edge</h2>
      <div style="display: flex; justify-content: flex-end">
        <button
          class="mds-popup-menu-trigger"
          aria-haspopup="true"
          aria-controls="mds-popup-menu-links-right"
        >
          Open Right-Aligned Popup Menu
        </button>
      </div>
      <div id="mds-popup-menu-links-right" class="mds-popup-menu" role="menu">
        <ul>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam sit amet lacus molestie dapibus molestie eu diam. Donec vitae diam in nunc ultricies euismod.
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item
              </span>
            </a>
          </li>
        </ul>
      </div>

      <h2 style="margin-top: 48px">Popup menu without left icons</h2>
      <button
        class="mds-popup-menu-trigger"
        aria-haspopup="true"
        aria-controls="mds-popup-menu-links-no-icons"
      >
        Open Popup Menu without icons
      </button>
      <div
        id="mds-popup-menu-links-no-icons"
        class="mds-popup-menu mds-popup-menu--no-icons"
        role="menu"
      >
        <ul>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam sit amet lacus molestie dapibus molestie eu diam.
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">Select item</span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">Select item</span>
            </a>
          </li>
        </ul>
      </div>

      <h2 style="margin-top: 48px">Popup menu with mixed icon usage</h2>
      <button
        class="mds-popup-menu-trigger"
        aria-haspopup="true"
        aria-controls="mds-popup-menu-links-mixed-icons"
      >
        Open Popup Menu with mixed icons
      </button>
      <div id="mds-popup-menu-links-mixed-icons" class="mds-popup-menu" role="menu">
        <ul>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Select item with icon
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label mds-popup-menu__label--no-icon">
                Select item without icon
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <span class="mds-popup-menu__icon" aria-hidden="true"></span>
                Another item with icon
              </span>
            </a>
          </li>
          <li>
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label mds-popup-menu__label--no-icon">
                Another item without icon
              </span>
            </a>
          </li>
        </ul>
      </div>
    </main>
    <script src="popup-menu.js"></script>
    <script>
      popupMenu.init();
    </script>
  </body>
</html>
