<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Core Components - Popup Menu</title>
    <link rel="stylesheet" href="/@massds/mds-tokens/dist/index.css" />
    <link rel="stylesheet" href="styles.css" media="all" />
  </head>
  <body>
    <main class="mds-popup-menu__container">
      <h1>Menu</h1>


      <h2>Default menu</h2>
      <button type="button" class="mds-popup-menu-trigger" aria-haspopup="true" aria-controls="mds-popup-menu-links">
        Open Menu
      </button>
      <div id="mds-popup-menu-links" class="mds-popup-menu" role="menu">
        <ul class="mds-popup-menu__list">
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam sit amet lacus molestie dapibus molestie eu diam. Donec vitae diam in nunc ultricies euismod.
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item
              </span>
            </a>
          </li>
        </ul>
      </div>
      <p>This is just some text to show that the menu floats on top of it.</p>
      <h2 style="margin-top: 48px; text-align: right">Menu right aligned</h2>
      <div style="display: flex; justify-content: flex-end">
        <button
          type="button"
          class="mds-popup-menu-trigger"
          aria-haspopup="true"
          aria-controls="mds-popup-menu-links-right"
        >
          Open Right-Aligned Menu
        </button>
      </div>
      <div id="mds-popup-menu-links-right" class="mds-popup-menu" role="menu">
        <ul class="mds-popup-menu__list">
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam sit amet lacus molestie dapibus molestie eu diam. Donec vitae diam in nunc ultricies euismod.
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item
              </span>
            </a>
          </li>
        </ul>
      </div>

      <h2 style="margin-top: 48px">Menu without left icons</h2>
      <button
        type="button"
        class="mds-popup-menu-trigger"
        aria-haspopup="true"
        aria-controls="mds-popup-menu-links-no-icons"
      >
        Open Menu without icons
      </button>
      <div
        id="mds-popup-menu-links-no-icons"
        class="mds-popup-menu mds-popup-menu--no-icons"
        role="menu"
      >
        <ul class="mds-popup-menu__list">
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam sit amet lacus molestie dapibus molestie eu diam.
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">Select item</span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">Select item</span>
            </a>
          </li>
        </ul>
      </div>

      <h2 style="margin-top: 48px">Menu with mixed icon usage</h2>
      <button
        type="button"
        class="mds-popup-menu-trigger"
        aria-haspopup="true"
        aria-controls="mds-popup-menu-links-mixed-icons"
      >
        Open Menu with mixed icons
      </button>
      <div id="mds-popup-menu-links-mixed-icons" class="mds-popup-menu" role="menu">
        <ul class="mds-popup-menu__list">
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Select item with icon
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label mds-popup-menu__label--no-icon">
                Select item without icon
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Another item with icon
              </span>
            </a>
          </li>
          <li class="mds-popup-menu__item">
            <a href="#" role="menuitem">
              <span class="mds-popup-menu__label mds-popup-menu__label--no-icon">
                Another item without icon
              </span>
            </a>
          </li>
        </ul>
      </div>

      <h2 style="margin-top: 48px">Menu with disabled buttons</h2>
      <button
        type="button"
        class="mds-popup-menu-trigger"
        aria-haspopup="true"
        aria-controls="mds-popup-menu-buttons-disabled"
      >
        Open Menu with disabled buttons
      </button>
      <div id="mds-popup-menu-buttons-disabled" class="mds-popup-menu" role="menu">
        <ul class="mds-popup-menu__list">
          <li class="mds-popup-menu__item">
            <button type="button" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Enabled action
              </span>
            </button>
          </li>
          <li class="mds-popup-menu__item">
            <button type="button" role="menuitem" disabled>
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Disabled action
              </span>
            </button>
          </li>
          <li class="mds-popup-menu__item">
            <button type="button" role="menuitem" disabled>
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Another disabled action
              </span>
            </button>
          </li>
          <li class="mds-popup-menu__item">
            <button type="button" role="menuitem">
              <span class="mds-popup-menu__label">
                <svg
                  class="mds-popup-menu__icon"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  fill="currentColor"
                >
                  <path d="M12.5 3a9 9 0 1 0 9 9 9.01 9.01 0 0 0-9-9m0 16.615A7.616 7.616 0 1 1 20.115 12a7.625 7.625 0 0 1-7.615 7.615M8.346 10.27a1.038 1.038 0 1 1 2.077 0 1.038 1.038 0 0 1-2.077 0m8.308 0a1.039 1.039 0 1 1-2.078 0 1.039 1.039 0 0 1 2.078 0m-.093 4.154c-.89 1.54-2.37 2.423-4.061 2.423s-3.17-.883-4.06-2.423a.692.692 0 1 1 1.197-.692c.647 1.117 1.663 1.73 2.863 1.73s2.216-.614 2.862-1.73a.692.692 0 1 1 1.2.692" />
                </svg>
                Final enabled action
              </span>
            </button>
          </li>
        </ul>
      </div>
    </main>
    <script src="popup-menu.js"></script>
    <script>
      popupMenu.init();
    </script>
  </body>
</html>
