.mds-icon {
  --mds-icon-size: 24px;

  display: inline-block;
  flex: none;
  width: var(--mds-icon-size);
  height: var(--mds-icon-size);
  color: currentColor;
  fill: currentColor;
  vertical-align: middle;

  &--size-xs {
    --mds-icon-size: 16px;
  }

  &--size-sm {
    --mds-icon-size: 20px;
  }

  &--size-md {
    --mds-icon-size: 24px;
  }

  &--size-lg {
    --mds-icon-size: 32px;
  }

  &--size-xl {
    --mds-icon-size: 40px;
  }
}
