.mds-icon {
  --mds-icon-size: 24px;

  display: inline-block;
  flex: none;
  width: var(--mds-icon-size);
  height: var(--mds-icon-size);
  color: currentColor;
  fill: currentColor;
  vertical-align: middle;
}
