
# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Distribution folder
dist

# Logs
*.log
npm-debug.log*

# OS metadata files
.DS_Store
Thumbs.db