@use "pkg:@massds/mds-styles/scss" as mixins;

@include mixins.component-reset;

// TODO: Evaluate tehse resets and determine where they should live, and which should be global.
:focus-visible, :focus {
  border-radius: var(--mds-radius-sm);
  outline-offset: 2px;
}

ul {
  margin: 0;
  padding: 0;
}

.mds-footer address {
  font-style: normal;
}

.mds-footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// end resets

// Set the colors for the two variants
.mds-footer--neutral {
  background-color: var(--mds-background-section-brand-neutral-lowest);
  color: var(--mds-text-and-icons-brand-neutral-default);
  & :focus-visible, & :focus {
    outline: 2px solid var(--mds-border-focus-on-light);
  }
}

.mds-footer--primary {
  background-color: var(--mds-background-adaptive-brand-primary-mid);
  color: var(--mds-text-and-icons-utility-inverse);
  & :focus-visible, & :focus {
    outline: 2px solid var(--mds-border-focus-on-dark);
}
}
//

.mds-footer *,
.mds-footer *::before,
.mds-footer *::after {
  box-sizing: border-box;
}

.mds-footer--neutral {
  & .mds-action-link {
    color: var(--mds-text-and-icons-brand-neutral-default);
  }

  & a:not(.mds-action-link) {
    color: var(--mds-background-adaptive-brand-primary-mid);
    fill: white;
  }
  & a:not(.mds-action-link):hover {
    color: var(--mds-background-adaptive-brand-primary-high);
  }
}

.mds-footer__container {
  @include mixins.section-container;

  background: transparent;
  color: inherit;
}

.mds-footer__link-list,
.mds-footer__social-list,
.mds-footer__legal-nav ul {
  list-style: none;
}

.mds-footer__column {
  @include mixins.grid-4-column;
}

.mds-footer__content {
  @include mixins.grid;
  padding-block: var(--mds-space-2xl) var(--mds-space-md);
}

.mds-footer__brand {
  display: flex;
  flex-direction: column;
  gap: var(--mds-space-2xs);
}

.mds-footer__brand-heading {
  display: flex;
  align-items: center;
  gap: var(--mds-space-sm);
}

.mds-footer__site-name {
  font: var(--mds-text-heading-sm);
}

.mds-footer__seal {
  width: 3.5rem;
  height: 3.5rem;
  align-self: self-start;
}

.mds-footer__site-name,
.mds-footer__heading,
.mds-footer__contact-address,
.mds-footer__contact-note,
.mds-footer__contact-item,
.mds-footer__description,
.mds-footer__fine-print p {
  margin: 0;
}


.mds-footer__contact-address,
.mds-footer__contact-note,
.mds-footer__contact-item,
.mds-footer__description {
  font: var(--mds-text-label-md);
}

.mds-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mds-space-2xs);
}

.mds-footer__social-link:hover {
  background-color: var(--mds-background-adaptive-brand-primary-high);
}

.mds-footer__description {
  max-width: 18rem;
  font: var(--mds-text-caption-md);
  color: var(--mds-text-and-icons-brand-neutral-muted);
}

.mds-footer__heading {
  padding-block-end: var(--mds-space-xs);
  border-block-end: 1px solid var(--mds-border-brand-neutral-low);
  font: var(--mds-text-eyebrow-md);
  text-transform: var(--mds-text-transform-eyebrow);
  letter-spacing: var(--mds-text-letter-spacing-eyebrow);
  color: var(--mds-text-and-icons-brand-neutral-muted);
}

.mds-footer__contact {
  display: flex;
  flex-direction: column;
  gap: var(--mds-space-2xs);
  padding-block-start: var(--mds-space-xs);
}

.mds-footer__contact-item {
  display: flex;
  align-items: flex-start;
  gap: var(--mds-space-3xs);
  font: var(--mds-text-label-md);
}

.mds-footer__contact-note {
  padding-block: var(--mds-space-3xs) var(--mds-space-2xs);
  font: var(--mds-text-caption-md);
  color: var(--mds-text-and-icons-brand-neutral-muted);
}

.mds-footer__contact-link,
.mds-footer__link-list a,
.mds-footer__legal-nav a {
  color: var(--mds-text-and-icons-brand-neutral-default);
  text-decoration: none;
  text-underline-offset: .375rem;
}


.mds-footer__contact-link:hover,
.mds-footer__link-list a:hover,
.mds-footer__legal-nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.mds-footer__link-list {
  display: flex;
  flex-direction: column;
  gap: var(--mds-space-2xs);
  padding-block-start: var(--mds-space-xs);
  font: var(--mds-text-label-md);
}

.mds-footer__legal-nav {
  border-block: 1px solid var(--mds-border-brand-neutral-low);
  padding-block: var(--mds-space-2xs);
  font: var(--mds-text-label-md);
}

.mds-footer__legal-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mds-space-sm) var(--mds-space-lg);
}

.mds-footer__fine-print {
  display: flex;
  flex-direction: column;
  gap: var(--mds-space-sm);
  padding-block: var(--mds-space-md) var(--mds-space-2xl);
  font: var(--mds-text-caption-md);
  color: var(--mds-text-and-icons-brand-neutral-muted);
}

.mds-footer__icon {
  display: inline-block;
  flex: 0 0 auto;
  width: 1.25rem;
  height: 1.25rem;
}

.mds-footer__contact svg {
  color: var(--mds-background-adaptive-brand-primary-mid);
  margin-top: 1px; // Adjust for visual alignment with text
}

.mds-footer--primary {
  & .mds-footer__description, & .mds-footer__heading, & .mds-footer__contact-address, & .mds-footer__contact-note,
  & .mds-footer__contact-item, & .mds-footer__fine-print p,
  & .mds-footer__contact-link, & .mds-footer__link-list a,
  & .mds-footer__legal-nav a,  & .mds-footer__contact-link--accent,
  & .mds-footer__contact-icon svg, & a {
    color: var(--mds-text-and-icons-utility-inverse);
  }

}

@media (max-width: 768px) {
  .mds-footer__column {
    row-gap: var(--mds-space-md);
  }
  .mds-footer__content {
    padding-block-start: var(--mds-space-md);
  }

}

@media (max-width: 480px) {
  .mds-footer__content {
    row-gap: var(--mds-space-md);
  }
  .mds-footer__content {
    padding-block-start: var(--mds-space-sm);
  }

}
