@use "pkg:@massds/mds-styles/scss" as mixins;
@include mixins.component-reset;
@include mixins.focus;
@include mixins.unordered-list-reset;
@include mixins.address-reset;


.mds-footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & address {
    font-style: normal;
  }

  &__container {
    @include mixins.section-container;

    background: transparent;
    color: inherit;
  }

  &__link-list,
  &__social-list,
  &__legal-nav ul {
    list-style: none;
  }

  &__column {
    @include mixins.grid-4-column;
  }

  &__content {
    @include mixins.grid;

    padding-block: var(--mds-space-2xl) var(--mds-space-md);
  }

  &__brand {
    display: flex;
    flex-direction: column;
    gap: var(--mds-space-2xs);
  }

  &__brand-heading {
    display: flex;
    align-items: center;
    gap: var(--mds-space-sm);
  }

  &__site-name {
    font: var(--mds-text-heading-sm);
  }

  &__seal {
    width: 3.5rem;
    height: 3.5rem;
    align-self: self-start;
  }

  &__site-name,
  &__heading,
  &__contact-address,
  &__contact-note,
  &__contact-item,
  &__description,
  &__fine-print p {
    margin: 0;
  }


  &__contact-address,
  &__contact-note,
  &__contact-item,
  &__description {
    font: var(--mds-text-label-md);
  }

  &__social-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mds-space-2xs);
  }

  &__description {
    max-width: 18rem;
    font: var(--mds-text-caption-md);
    color: var(--mds-text-and-icons-brand-neutral-muted);
  }

  &__heading {
    padding-block-end: var(--mds-space-xs);
    border-block-end: 1px solid var(--mds-border-brand-neutral-low);
    font: var(--mds-text-eyebrow-md);
    text-transform: var(--mds-text-transform-eyebrow);
    letter-spacing: var(--mds-text-letter-spacing-eyebrow);
    color: var(--mds-text-and-icons-brand-neutral-muted);
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: var(--mds-space-2xs);
    padding-block-start: var(--mds-space-xs);
  }

  &__contact-item {
    display: flex;
    align-items: flex-start;
    padding-block: var(--mds-space-3xs);
    font: var(--mds-text-label-md);
  }

  &__contact svg {
    color: var(--mds-background-adaptive-brand-primary-mid);
  }

  &__contact-note {
    padding-block: var(--mds-space-3xs) var(--mds-space-2xs);
    font: var(--mds-text-caption-md);
    color: var(--mds-text-and-icons-brand-neutral-muted);
  }

  &__contact-link,
  &__link-list a,
  &__legal-nav a {
    color: var(--mds-text-and-icons-brand-neutral-default);
    text-decoration: none;
    text-underline-offset: .375rem;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    padding-block-start: var(--mds-space-xs);
    font: var(--mds-text-label-md);

    & .mds-action-link {
      display: block;
      padding-block: var(--mds-space-2xs);
    }
  }

  &__legal-nav {
    border-block: 1px solid var(--mds-border-brand-neutral-low);
    padding-block: var(--mds-space-2xs);
    font: var(--mds-text-label-md);

    & ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--mds-space-sm) var(--mds-space-lg);
    }
  }

  &__fine-print {
    display: flex;
    flex-direction: column;
    gap: var(--mds-space-sm);
    padding-block: var(--mds-space-md) var(--mds-space-2xl);
    font: var(--mds-text-caption-md);
  }

  &__icon {
    display: inline-block;
    flex: 0 0 auto;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: var(--mds-space-3xs);
    margin-top: 3px; // Adjust for optical alignment with text
  }
}

// Set the colors for the two variants
.mds-footer--neutral {
  --mds-footer-background: var(--mds-background-section-brand-neutral-lowest);
  --mds-footer-color: var(--mds-text-and-icons-brand-neutral-default);
  --mds-footer-muted-color: var(--mds-text-and-icons-brand-neutral-muted);
  --mds-footer-link-color: var(--mds-text-and-icons-brand-neutral-default);
  --mds-footer-link-hover-color: var(--mds-background-adaptive-brand-primary-high);
  --mds-footer-accent-color: var(--mds-background-adaptive-brand-primary-mid);
  --mds-footer-border-color: var(--mds-border-brand-neutral-low);
  --mds-footer-focus-color: var(--mds-border-focus-on-light);

  background-color: var(--mds-footer-background);
  color: var(--mds-footer-color);

  & :focus-visible, & :focus {
    outline: 2px solid var(--mds-footer-focus-color);
  }

  & .mds-action-link {
    color: var(--mds-footer-color);
  }

  & a:not(.mds-action-link) {
    color: var(--mds-footer-link-color);
    fill: currentColor;
  }

  & a:not(.mds-action-link):hover {
    color: var(--mds-footer-link-hover-color);
  }

  & .mds-footer__fine-print p {
    color: var(--mds-footer-muted-color);
  }
}
/* stylelint-disable no-descending-specificity */
.mds-footer--primary {
  --mds-footer-background: var(--mds-background-adaptive-brand-primary-mid);
  --mds-footer-color: var(--mds-text-and-icons-utility-inverse);
  --mds-footer-link-color: var(--mds-text-and-icons-utility-inverse);
  --mds-footer-link-hover-color: var(--mds-text-and-icons-utility-inverse);
  --mds-footer-focus-color: var(--mds-border-focus-on-dark);

  background-color: var(--mds-footer-background);
  color: var(--mds-footer-color);

  & :focus-visible, & :focus {
    outline: 2px solid var(--mds-footer-focus-color);
  }

  // Set all text to the white color for Primary
  & .mds-footer__description, & .mds-footer__heading, & .mds-footer__contact-address, & .mds-footer__contact-note,
  & .mds-footer__contact-item, & .mds-footer__fine-print p,
  & .mds-footer__contact-link, & .mds-footer__link-list a,
  & .mds-footer__legal-nav a,  & .mds-footer__contact-link--accent,
  & .mds-footer__contact-icon svg, & a {
    color: var(--mds-footer-color);
  }
}
/* stylelint-enable no-descending-specificity */


@media (max-width: 768px) {
  .mds-footer__content {
    row-gap: var(--mds-space-md);
    padding-block-start: var(--mds-space-md);
  }
}

@media (max-width: 480px) {
  .mds-footer__content {
    row-gap: var(--mds-space-md);
    padding-block-start: var(--mds-space-sm);
  }
}
