@use "pkg:@massds/mds-styles/scss" as mixins;
@include mixins.component-reset;

/** Site Header component styles **/

$site-header-text-max-width: 25rem;

.mds-site-header {
  width: 100%;
  background-color: var(--mds-background-section-brand-neutral-lowest);
  color: var(--mds-text-and-icons-brand-secondary-mid);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-block: var(--mds-space-sm);
    padding-inline: var(--mds-breakpoint-horizontal-space-margin);
  }

  &__title {
    display: flex;
    flex: 1 0 0;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: var(--mds-space-sm);
    color: inherit;
    text-decoration: none;

    @include mixins.focus;
  }

  &__seal {
    width: 54px;
    height: 54px;
    align-self: self-start;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--mds-space-3xs);
    max-width: 25rem; //should this be handles with flex/percentage?
  }

  &__site-name {
    font: var(--mds-text-heading-sm);
  }

  &__organization {
    font: var(--mds-text-eyebrow-md);
    letter-spacing: var(--mds-text-letter-spacing-eyebrow);
    text-transform: var(--mds-text-transform-eyebrow);
  }
}

@include mixins.max-width(sm) {
  .mds-site-header {
    &__container {
      padding-inline: var(--mds-space-sm);
    }

    &__brand {
      width: 100%;
    }

    &__text {
      max-width: none;
    }
  }
}
