@use "pkg:@massds/mds-styles/scss" as mixins;

.mds-icon-button {
  --mds-icon-button-accent: var(--mds-background-adaptive-brand-primary-mid);
  --mds-icon-button-accent-hover: var(--mds-background-adaptive-brand-primary-high);
  --mds-icon-button-accent-active: var(--mds-background-adaptive-brand-primary-highest);
  --mds-icon-button-on-accent: var(--mds-text-and-icons-utility-static-white);
  --mds-icon-button-shadow: none;
  --mds-icon-button-shadow-hover: none;
  --mds-icon-button-shadow-active: none;

  box-sizing: border-box;
  appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  inline-size: 44px;
  block-size: 44px;
  padding: var(--mds-space-2xs);
  border: var(--mds-icon-button-border-width) solid var(--mds-icon-button-border);
  border-radius: var(--mds-radius-md);
  background-color: var(--mds-icon-button-background);
  box-shadow: var(--mds-icon-button-shadow);
  color: var(--mds-icon-button-color);
  cursor: pointer;
  transition:
    background-color var(--mds-motion-duration-fastest) ease,
    border-color var(--mds-motion-duration-fastest) ease,
    box-shadow var(--mds-motion-duration-fastest) ease,
    color var(--mds-motion-duration-fastest) ease;

  & > svg {
    position: relative;
    z-index: 1;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }

  // Color modifiers
  &--color-secondary {
    --mds-icon-button-accent: var(--mds-background-adaptive-brand-secondary-mid);
    --mds-icon-button-accent-hover: var(--mds-background-adaptive-brand-secondary-high);
    --mds-icon-button-accent-active: var(--mds-background-adaptive-brand-secondary-highest);
 }

  &--color-error {
    --mds-icon-button-accent: var(--mds-background-adaptive-utility-danger-mid);
    --mds-icon-button-accent-hover: var(--mds-background-adaptive-utility-danger-high);
    --mds-icon-button-accent-active: var(--mds-background-adaptive-utility-danger-highest);
  }

  &--type-fill {
    --mds-icon-button-background: var(--mds-icon-button-accent);
    --mds-icon-button-background-hover: var(--mds-icon-button-accent-hover);
    --mds-icon-button-background-active: var(--mds-icon-button-accent-active);
    --mds-icon-button-border: var(--mds-icon-button-accent);
    --mds-icon-button-border-hover: var(--mds-icon-button-accent-hover);
    --mds-icon-button-border-active: var(--mds-icon-button-accent-active);
    --mds-icon-button-border-width: 0;
    --mds-icon-button-color: var(--mds-icon-button-on-accent);
    --mds-icon-button-color-hover: var(--mds-icon-button-on-accent);
    --mds-icon-button-color-active: var(--mds-icon-button-on-accent);
    --mds-icon-button-shadow-hover: var(--mds-shadow-hover-sm);

    @include mixins.focus($focus-on-light: true);

    &.mds-icon-button--color-light {
      --mds-icon-button-accent: var(--mds-background-section-utility-static-white);
      --mds-icon-button-accent-hover: var(--mds-background-section-brand-neutral-lowest);
      --mds-icon-button-accent-active: var(--mds-background-section-brand-neutral-low);
      --mds-icon-button-on-accent: var(--mds-text-and-icons-utility-static-black);

      @include mixins.focus($focus-on-light: false);
    }
  }

  &--type-outline {
    --mds-icon-button-background: var(--mds-background-adaptive-utility-inverse);
    --mds-icon-button-background-hover: var(--mds-background-adaptive-brand-neutral-lowest);
    --mds-icon-button-background-active: var(--mds-background-adaptive-brand-neutral-low);
    --mds-icon-button-border: var(--mds-icon-button-accent);
    --mds-icon-button-border-hover: var(--mds-icon-button-accent-hover);
    --mds-icon-button-border-active: var(--mds-icon-button-accent-active);
    --mds-icon-button-border-width: 2px;
    --mds-icon-button-color: var(--mds-icon-button-accent);
    --mds-icon-button-color-hover: var(--mds-icon-button-accent);
    --mds-icon-button-color-active: var(--mds-icon-button-accent);
    --mds-icon-button-shadow-hover: var(--mds-shadow-hover-sm);

    &.mds-icon-button--color-light {
      --mds-icon-button-background: var(--mds-background-base-transparent);
      --mds-icon-button-background-hover: var(--mds-background-adaptive-brand-neutral-high);
      --mds-icon-button-background-active: var(--mds-background-adaptive-brand-neutral-highest);
      --mds-icon-button-border: var(--mds-background-adaptive-brand-neutral-lowest);
      --mds-icon-button-border-hover: var(--mds-background-adaptive-brand-neutral-lowest);
      --mds-icon-button-border-active: var(--mds-background-adaptive-brand-neutral-lowest);
      --mds-icon-button-color: var(--mds-text-and-icons-utility-static-white);
      --mds-icon-button-color-hover: var(--mds-background-adaptive-brand-neutral-lowest);
      --mds-icon-button-color-active: var(--mds-background-adaptive-brand-neutral-lowest);
    }
  }

  &--type-ghost {
    --mds-icon-button-background: var(--mds-background-base-transparent);
    --mds-icon-button-background-hover: var(--mds-background-base-transparent);
    --mds-icon-button-background-active: var(--mds-background-base-transparent);
    --mds-icon-button-border: var(--mds-background-base-transparent);
    --mds-icon-button-border-hover: var(--mds-background-base-transparent);
    --mds-icon-button-border-active: var(--mds-background-base-transparent);
    --mds-icon-button-border-width: 0;
    --mds-icon-button-color: var(--mds-icon-button-accent);
    --mds-icon-button-color-hover: var(--mds-icon-button-accent-hover);
    --mds-icon-button-color-active: var(--mds-icon-button-accent-active);

    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      inset: 3px;
      border-radius: var(--mds-radius-sm);
      background-color: var(--mds-icon-button-background);
      transition:
        background-color var(--mds-motion-duration-fastest) ease;
    }

    &.mds-icon-button--color-light {
      --mds-icon-button-background: var(--mds-background-base-transparent);
      --mds-icon-button-background-hover: var(--mds-background-adaptive-brand-neutral-high);
      --mds-icon-button-background-active: var(--mds-background-adaptive-brand-neutral-highest);
      --mds-icon-button-color: var(--mds-text-and-icons-utility-static-white);
      --mds-icon-button-color-hover: var(--mds-background-adaptive-brand-neutral-lowest);
      --mds-icon-button-color-active: var(--mds-background-adaptive-brand-neutral-lowest);
      @include mixins.focus($focus-on-light: false);
    }

    &.mds-icon-button--color-white {
      --mds-icon-button-color: var(--mds-text-and-icons-utility-static-white);
      --mds-icon-button-color-hover: var(--mds-background-adaptive-brand-primary-lowest);
      --mds-icon-button-color-active: var(--mds-text-and-icons-utility-static-white);
      @include mixins.focus($focus-on-light: false);
    }
  }

  // Interaction states

  @include mixins.focus($focus-on-light: true);

  &:hover {
    --mds-icon-button-background: var(--mds-icon-button-background-hover);
    --mds-icon-button-border: var(--mds-icon-button-border-hover);
    --mds-icon-button-color: var(--mds-icon-button-color-hover);
    --mds-icon-button-shadow: var(--mds-icon-button-shadow-hover);
  }

  &:active {
    --mds-icon-button-background: var(--mds-icon-button-background-active);
    --mds-icon-button-border: var(--mds-icon-button-border-active);
    --mds-icon-button-color: var(--mds-icon-button-color-active);
    --mds-icon-button-shadow: var(--mds-icon-button-shadow-active);
  }

  &:disabled {
    --mds-icon-button-background: var(--mds-background-section-brand-neutral-disabled);
    --mds-icon-button-border: var(--mds-border-brand-neutral-low);
    --mds-icon-button-color: var(--mds-text-and-icons-brand-neutral-disabled);
    --mds-icon-button-shadow: none;

    border-bottom: var(--mds-icon-button-border-width) solid var(--mds-icon-button-border);
    cursor: not-allowed;
  }

  &--type-ghost:disabled {
    --mds-icon-button-background: var(--mds-background-base-transparent);
  }
}

a.mds-icon-button {
  text-decoration: none;
}
