* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.demo-page__content {
  position: relative;
  z-index: 1;
}

.demo-grid-toggle {
  position: fixed;
  bottom: var(--mds-space-md);
  right: var(--mds-breakpoint-horizontal-space-margin);
  z-index: 3;
  border: 2px solid var(--mds-static-white);
  border-radius: var(--mds-radius-md);
  padding: var(--mds-space-xs);
  background: var(--mds-static-black);
  color: var(--mds-static-white);
  font: var(--mds-text-body);
  cursor: pointer;
  box-shadow: var(--mds-shadow-container);
}

.demo-grid-status {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  padding: var(--mds-space-3xs);
  background: color-mix(in srgb, var(--mds-static-white) 80%, transparent);
  color: var(--mds-static-black);
  font: var(--mds-text-body-sm);
  box-shadow: var(--mds-shadow-container);
}

.demo-color-block {
  border-radius: var(--mds-radius-md);
}

.demo-color-block--xs {
  height: 28px;
}

.demo-color-block--lg {
  height: 200px;
}

.demo-color-block--neutral {
  background: var(--mds-background-adaptive-brand-neutral-low);
}

.demo-color-block--primary {
  background: var(--mds-background-adaptive-brand-primary-low);
}

.demo-color-block--secondary {
  background: var(--mds-background-adaptive-brand-secondary-low);
}

.demo-color-block--tertiary {
  background: var(--mds-background-adaptive-brand-tertiary-low);
}

.demo-color-block--light {
  background: var(--mds-static-white);
}

.demo-color-block--dark {
  background: var(--mds-static-black);
}

.demo-section--neutral {
  background: var(--mds-background-section-brand-neutral-lowest);
}

.demo-section--primary {
  background: var(--mds-background-section-brand-primary-lowest);
}

.demo-section--primary-inverse {
  background: var(--mds-background-section-brand-primary-highest);
  color: var(--mds-inverse);
}

.demo-section--secondary {
  background: var(--mds-background-section-brand-secondary-lowest);
}

.demo-section--header {
  background: var(--mds-background-section-brand-tertiary-lowest);
}

.demo-section--state-banner {
  background: var(--mds-static-black);
}

.demo-footer {
  background: var(--mds-background-section-brand-neutral-highest);
}

.demo-section {
  width: 100%;
}

.demo-grid {
  position: relative;
  min-height: 100vh;
}

.demo-grid__overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.demo-grid--overlay-hidden .demo-grid__overlay {
  display: none;
}

.demo-grid-column {
  min-height: 100%;
  background: pink;
  opacity: 0.3;
}

.demo-grid__overlay .demo-grid-column:nth-child(n + 7) {
  display: none;
}

@media (min-width: 769px) {
  .demo-grid__overlay .demo-grid-column:nth-child(n + 7) {
    display: block;
  }
}
