$space-scale: (
  "3xs": var(--mds-space-3xs),
  "2xs": var(--mds-space-2xs),
  "xs": var(--mds-space-xs),
  "sm": var(--mds-space-sm),
  "md": var(--mds-space-md),
  "lg": var(--mds-space-lg),
  "xl": var(--mds-space-xl),
  "2xl": var(--mds-space-2xl),
  "3xl": var(--mds-space-3xl)
);
$background-scale: (
  "base-transparent": var(--mds-background-base-transparent),
  "base-overlay": var(--mds-background-base-overlay),
  "surface-default": var(--mds-background-surface-default),
  "section-brand-neutral-lowest": var(--mds-background-section-brand-neutral-lowest),
  "section-brand-neutral-low": var(--mds-background-section-brand-neutral-low),
  "section-brand-neutral-mid": var(--mds-background-section-brand-neutral-mid),
  "section-brand-neutral-high": var(--mds-background-section-brand-neutral-high),
  "section-brand-neutral-highest": var(--mds-background-section-brand-neutral-highest),
  "section-brand-neutral-disabled": var(--mds-background-section-brand-neutral-disabled),
  "section-brand-primary-lowest": var(--mds-background-section-brand-primary-lowest),
  "section-brand-primary-mid": var(--mds-background-section-brand-primary-mid),
  "section-brand-primary-highest": var(--mds-background-section-brand-primary-highest),
  "section-brand-secondary-lowest": var(--mds-background-section-brand-secondary-lowest),
  "section-brand-secondary-mid": var(--mds-background-section-brand-secondary-mid),
  "section-brand-secondary-highest": var(--mds-background-section-brand-secondary-highest),
  "section-brand-tertiary-lowest": var(--mds-background-section-brand-tertiary-lowest),
  "section-brand-tertiary-mid": var(--mds-background-section-brand-tertiary-mid),
  "section-brand-tertiary-highest": var(--mds-background-section-brand-tertiary-highest),
  "section-utility-informative-lowest": var(--mds-background-section-utility-informative-lowest),
  "section-utility-informative-mid": var(--mds-background-section-utility-informative-mid),
  "section-utility-informative-highest": var(--mds-background-section-utility-informative-highest),
  "section-utility-danger-lowest": var(--mds-background-section-utility-danger-lowest),
  "section-utility-danger-mid": var(--mds-background-section-utility-danger-mid),
  "section-utility-danger-highest": var(--mds-background-section-utility-danger-highest),
  "section-utility-warning-lowest": var(--mds-background-section-utility-warning-lowest),
  "section-utility-warning-mid": var(--mds-background-section-utility-warning-mid),
  "section-utility-warning-highest": var(--mds-background-section-utility-warning-highest),
  "section-utility-success-lowest": var(--mds-background-section-utility-success-lowest),
  "section-utility-success-mid": var(--mds-background-section-utility-success-mid),
  "section-utility-success-highest": var(--mds-background-section-utility-success-highest),
  "section-utility-static-white": var(--mds-background-section-utility-static-white),
  "section-utility-static-black": var(--mds-background-section-utility-static-black),
  "section-utility-inverse": var(--mds-background-section-utility-inverse),
  "adaptive-brand-neutral-lowest": var(--mds-background-adaptive-brand-neutral-lowest),
  "adaptive-brand-neutral-low": var(--mds-background-adaptive-brand-neutral-low),
  "adaptive-brand-neutral-mid": var(--mds-background-adaptive-brand-neutral-mid),
  "adaptive-brand-neutral-high": var(--mds-background-adaptive-brand-neutral-high),
  "adaptive-brand-neutral-highest": var(--mds-background-adaptive-brand-neutral-highest),
  "adaptive-brand-neutral-disabled": var(--mds-background-adaptive-brand-neutral-disabled),
  "adaptive-brand-primary-lowest": var(--mds-background-adaptive-brand-primary-lowest),
  "adaptive-brand-primary-low": var(--mds-background-adaptive-brand-primary-low),
  "adaptive-brand-primary-mid": var(--mds-background-adaptive-brand-primary-mid),
  "adaptive-brand-primary-high": var(--mds-background-adaptive-brand-primary-high),
  "adaptive-brand-primary-highest": var(--mds-background-adaptive-brand-primary-highest),
  "adaptive-brand-secondary-lowest": var(--mds-background-adaptive-brand-secondary-lowest),
  "adaptive-brand-secondary-low": var(--mds-background-adaptive-brand-secondary-low),
  "adaptive-brand-secondary-mid": var(--mds-background-adaptive-brand-secondary-mid),
  "adaptive-brand-secondary-high": var(--mds-background-adaptive-brand-secondary-high),
  "adaptive-brand-secondary-highest": var(--mds-background-adaptive-brand-secondary-highest),
  "adaptive-brand-tertiary-lowest": var(--mds-background-adaptive-brand-tertiary-lowest),
  "adaptive-brand-tertiary-low": var(--mds-background-adaptive-brand-tertiary-low),
  "adaptive-brand-tertiary-mid": var(--mds-background-adaptive-brand-tertiary-mid),
  "adaptive-brand-tertiary-high": var(--mds-background-adaptive-brand-tertiary-high),
  "adaptive-brand-tertiary-highest": var(--mds-background-adaptive-brand-tertiary-highest),
  "adaptive-brand-highlight-mid": var(--mds-background-adaptive-brand-highlight-mid),
  "adaptive-utility-informative-lowest": var(--mds-background-adaptive-utility-informative-lowest),
  "adaptive-utility-informative-low": var(--mds-background-adaptive-utility-informative-low),
  "adaptive-utility-informative-mid": var(--mds-background-adaptive-utility-informative-mid),
  "adaptive-utility-informative-high": var(--mds-background-adaptive-utility-informative-high),
  "adaptive-utility-informative-highest": var(--mds-background-adaptive-utility-informative-highest),
  "adaptive-utility-danger-lowest": var(--mds-background-adaptive-utility-danger-lowest),
  "adaptive-utility-danger-low": var(--mds-background-adaptive-utility-danger-low),
  "adaptive-utility-danger-mid": var(--mds-background-adaptive-utility-danger-mid),
  "adaptive-utility-danger-high": var(--mds-background-adaptive-utility-danger-high),
  "adaptive-utility-danger-highest": var(--mds-background-adaptive-utility-danger-highest),
  "adaptive-utility-warning-lowest": var(--mds-background-adaptive-utility-warning-lowest),
  "adaptive-utility-warning-low": var(--mds-background-adaptive-utility-warning-low),
  "adaptive-utility-warning-mid": var(--mds-background-adaptive-utility-warning-mid),
  "adaptive-utility-warning-high": var(--mds-background-adaptive-utility-warning-high),
  "adaptive-utility-warning-highest": var(--mds-background-adaptive-utility-warning-highest),
  "adaptive-utility-success-lowest": var(--mds-background-adaptive-utility-success-lowest),
  "adaptive-utility-success-low": var(--mds-background-adaptive-utility-success-low),
  "adaptive-utility-success-mid": var(--mds-background-adaptive-utility-success-mid),
  "adaptive-utility-success-high": var(--mds-background-adaptive-utility-success-high),
  "adaptive-utility-success-highest": var(--mds-background-adaptive-utility-success-highest),
  "adaptive-utility-static-white": var(--mds-background-adaptive-utility-static-white),
  "adaptive-utility-static-black": var(--mds-background-adaptive-utility-static-black),
  "adaptive-utility-inverse": var(--mds-background-adaptive-utility-inverse)
);
$text-and-icons-scale: (
  "brand-neutral-default": var(--mds-text-and-icons-brand-neutral-default),
  "brand-neutral-muted": var(--mds-text-and-icons-brand-neutral-muted),
  "brand-neutral-disabled": var(--mds-text-and-icons-brand-neutral-disabled),
  "brand-primary-mid": var(--mds-text-and-icons-brand-primary-mid),
  "brand-secondary-mid": var(--mds-text-and-icons-brand-secondary-mid),
  "utility-informative-mid": var(--mds-text-and-icons-utility-informative-mid),
  "utility-danger-mid": var(--mds-text-and-icons-utility-danger-mid),
  "utility-warning-mid": var(--mds-text-and-icons-utility-warning-mid),
  "utility-success-mid": var(--mds-text-and-icons-utility-success-mid),
  "utility-static-white": var(--mds-text-and-icons-utility-static-white),
  "utility-static-black": var(--mds-text-and-icons-utility-static-black),
  "utility-inverse": var(--mds-text-and-icons-utility-inverse)
);
$border-scale: (
  "brand-neutral-lowest": var(--mds-border-brand-neutral-lowest),
  "brand-neutral-low": var(--mds-border-brand-neutral-low),
  "brand-neutral-mid": var(--mds-border-brand-neutral-mid),
  "brand-neutral-high": var(--mds-border-brand-neutral-high),
  "brand-primary-lowest": var(--mds-border-brand-primary-lowest),
  "brand-primary-low": var(--mds-border-brand-primary-low),
  "brand-primary-mid": var(--mds-border-brand-primary-mid),
  "brand-primary-high": var(--mds-border-brand-primary-high),
  "brand-primary-highest": var(--mds-border-brand-primary-highest),
  "brand-secondary-lowest": var(--mds-border-brand-secondary-lowest),
  "brand-secondary-low": var(--mds-border-brand-secondary-low),
  "brand-secondary-mid": var(--mds-border-brand-secondary-mid),
  "brand-secondary-high": var(--mds-border-brand-secondary-high),
  "brand-secondary-highest": var(--mds-border-brand-secondary-highest),
  "focus-on-light": var(--mds-border-focus-on-light),
  "focus-on-dark": var(--mds-border-focus-on-dark),
  "utility-informative-low": var(--mds-border-utility-informative-low),
  "utility-informative-mid": var(--mds-border-utility-informative-mid),
  "utility-danger-low": var(--mds-border-utility-danger-low),
  "utility-danger-mid": var(--mds-border-utility-danger-mid),
  "utility-warning-low": var(--mds-border-utility-warning-low),
  "utility-warning-mid": var(--mds-border-utility-warning-mid),
  "utility-success-low": var(--mds-border-utility-success-low),
  "utility-success-mid": var(--mds-border-utility-success-mid),
  "utility-static-white": var(--mds-border-utility-static-white),
  "utility-static-black": var(--mds-border-utility-static-black),
  "utility-inverse": var(--mds-border-utility-inverse)
);
$radius-scale: (
  "xs": var(--mds-radius-xs),
  "sm": var(--mds-radius-sm),
  "md": var(--mds-radius-md),
  "max": var(--mds-radius-max)
);
$shadow-scale: (
  "container": var(--mds-shadow-container),
  "modal": var(--mds-shadow-modal)
);
$shadow-hover-scale: (
  "hover-sm": var(--mds-shadow-hover-sm),
  "hover-md": var(--mds-shadow-hover-md)
);
$text-style-scale: (
  "heading-2xs": (
    "font-family": var(--mds-text-heading-2xs-font-family),
    "font-weight": var(--mds-text-heading-2xs-font-weight),
    "font-size": var(--mds-text-heading-2xs-font-size),
    "line-height": var(--mds-text-heading-2xs-line-height)
  ),
  "heading-xs": (
    "font-family": var(--mds-text-heading-xs-font-family),
    "font-weight": var(--mds-text-heading-xs-font-weight),
    "font-size": var(--mds-text-heading-xs-font-size),
    "line-height": var(--mds-text-heading-xs-line-height)
  ),
  "heading-sm": (
    "font-family": var(--mds-text-heading-sm-font-family),
    "font-weight": var(--mds-text-heading-sm-font-weight),
    "font-size": var(--mds-text-heading-sm-font-size),
    "line-height": var(--mds-text-heading-sm-line-height)
  ),
  "heading-md": (
    "font-family": var(--mds-text-heading-md-font-family),
    "font-weight": var(--mds-text-heading-md-font-weight),
    "font-size": var(--mds-text-heading-md-font-size),
    "line-height": var(--mds-text-heading-md-line-height)
  ),
  "heading-lg": (
    "font-family": var(--mds-text-heading-lg-font-family),
    "font-weight": var(--mds-text-heading-lg-font-weight),
    "font-size": var(--mds-text-heading-lg-font-size),
    "line-height": var(--mds-text-heading-lg-line-height)
  ),
  "heading-xl": (
    "font-family": var(--mds-text-heading-xl-font-family),
    "font-weight": var(--mds-text-heading-xl-font-weight),
    "font-size": var(--mds-text-heading-xl-font-size),
    "line-height": var(--mds-text-heading-xl-line-height)
  ),
  "heading-2xl": (
    "font-family": var(--mds-text-heading-2xl-font-family),
    "font-weight": var(--mds-text-heading-2xl-font-weight),
    "font-size": var(--mds-text-heading-2xl-font-size),
    "line-height": var(--mds-text-heading-2xl-line-height)
  ),
  "body": (
    "font-family": var(--mds-text-body-font-family),
    "font-weight": var(--mds-text-body-font-weight),
    "font-size": var(--mds-text-body-font-size),
    "line-height": var(--mds-text-body-line-height)
  ),
  "body-bold": (
    "font-family": var(--mds-text-body-bold-font-family),
    "font-weight": var(--mds-text-body-bold-font-weight),
    "font-size": var(--mds-text-body-bold-font-size),
    "line-height": var(--mds-text-body-bold-line-height)
  ),
  "body-lg": (
    "font-family": var(--mds-text-body-lg-font-family),
    "font-weight": var(--mds-text-body-lg-font-weight),
    "font-size": var(--mds-text-body-lg-font-size),
    "line-height": var(--mds-text-body-lg-line-height)
  ),
  "body-lg-bold": (
    "font-family": var(--mds-text-body-lg-bold-font-family),
    "font-weight": var(--mds-text-body-lg-bold-font-weight),
    "font-size": var(--mds-text-body-lg-bold-font-size),
    "line-height": var(--mds-text-body-lg-bold-line-height)
  ),
  "label-sm": (
    "font-family": var(--mds-text-label-sm-font-family),
    "font-weight": var(--mds-text-label-sm-font-weight),
    "font-size": var(--mds-text-label-sm-font-size),
    "line-height": var(--mds-text-label-sm-line-height)
  ),
  "label": (
    "font-family": var(--mds-text-label-font-family),
    "font-weight": var(--mds-text-label-font-weight),
    "font-size": var(--mds-text-label-font-size),
    "line-height": var(--mds-text-label-line-height)
  ),
  "label-md": (
    "font-family": var(--mds-text-label-md-font-family),
    "font-weight": var(--mds-text-label-md-font-weight),
    "font-size": var(--mds-text-label-md-font-size),
    "line-height": var(--mds-text-label-md-line-height)
  ),
  "label-lg": (
    "font-family": var(--mds-text-label-lg-font-family),
    "font-weight": var(--mds-text-label-lg-font-weight),
    "font-size": var(--mds-text-label-lg-font-size),
    "line-height": var(--mds-text-label-lg-line-height)
  ),
  "label-xl": (
    "font-family": var(--mds-text-label-xl-font-family),
    "font-weight": var(--mds-text-label-xl-font-weight),
    "font-size": var(--mds-text-label-xl-font-size),
    "line-height": var(--mds-text-label-xl-line-height)
  ),
  "eyebrow": (
    "font-family": var(--mds-text-eyebrow-font-family),
    "font-weight": var(--mds-text-eyebrow-font-weight),
    "font-size": var(--mds-text-eyebrow-font-size),
    "line-height": var(--mds-text-eyebrow-line-height),
    "letter-spacing": 1px,
    "text-transform": uppercase
  ),
  "eyebrow-md": (
    "font-family": var(--mds-text-eyebrow-md-font-family),
    "font-weight": var(--mds-text-eyebrow-md-font-weight),
    "font-size": var(--mds-text-eyebrow-md-font-size),
    "line-height": var(--mds-text-eyebrow-md-line-height),
    "letter-spacing": 1px,
    "text-transform": uppercase
  ),
  "caption-sm": (
    "font-family": var(--mds-text-caption-sm-font-family),
    "font-weight": var(--mds-text-caption-sm-font-weight),
    "font-size": var(--mds-text-caption-sm-font-size),
    "line-height": var(--mds-text-caption-sm-line-height)
  ),
  "caption": (
    "font-family": var(--mds-text-caption-font-family),
    "font-weight": var(--mds-text-caption-font-weight),
    "font-size": var(--mds-text-caption-font-size),
    "line-height": var(--mds-text-caption-line-height)
  ),
  "caption-bold": (
    "font-family": var(--mds-text-caption-bold-font-family),
    "font-weight": var(--mds-text-caption-bold-font-weight),
    "font-size": var(--mds-text-caption-bold-font-size),
    "line-height": var(--mds-text-caption-bold-line-height)
  ),
  "caption-md": (
    "font-family": var(--mds-text-caption-md-font-family),
    "font-weight": var(--mds-text-caption-md-font-weight),
    "font-size": var(--mds-text-caption-md-font-size),
    "line-height": var(--mds-text-caption-md-line-height)
  )
);
$grid-span-scale: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
