$space-scale: (
  "3xs": var(--mds-space-3xs),
  "2xs": var(--mds-space-2xs),
  "xs": var(--mds-space-xs),
  "sm": var(--mds-space-sm),
  "md": var(--mds-space-md),
  "lg": var(--mds-space-lg),
  "xl": var(--mds-space-xl),
  "2xl": var(--mds-space-2xl),
  "3xl": var(--mds-space-3xl)
);
$content-scale: (
  "brand-neutral-default": var(--mds-content-brand-neutral-default),
  "brand-neutral-muted": var(--mds-content-brand-neutral-muted),
  "brand-neutral-disabled": var(--mds-content-brand-neutral-disabled),
  "brand-primary-mid": var(--mds-content-brand-primary-mid),
  "brand-secondary-mid": var(--mds-content-brand-secondary-mid),
  "utility-informative-mid": var(--mds-content-utility-informative-mid),
  "utility-danger-mid": var(--mds-content-utility-danger-mid),
  "utility-warning-mid": var(--mds-content-utility-warning-mid),
  "utility-success-mid": var(--mds-content-utility-success-mid)
);
$interactive-scale: (
  "brand-neutral-lowest": var(--mds-interactive-brand-neutral-lowest),
  "brand-neutral-low": var(--mds-interactive-brand-neutral-low),
  "brand-neutral-mid": var(--mds-interactive-brand-neutral-mid),
  "brand-neutral-high": var(--mds-interactive-brand-neutral-high),
  "brand-neutral-highest": var(--mds-interactive-brand-neutral-highest),
  "brand-neutral-disabled": var(--mds-interactive-brand-neutral-disabled),
  "brand-primary-lowest": var(--mds-interactive-brand-primary-lowest),
  "brand-primary-low": var(--mds-interactive-brand-primary-low),
  "brand-primary-mid": var(--mds-interactive-brand-primary-mid),
  "brand-primary-high": var(--mds-interactive-brand-primary-high),
  "brand-primary-highest": var(--mds-interactive-brand-primary-highest),
  "brand-secondary-lowest": var(--mds-interactive-brand-secondary-lowest),
  "brand-secondary-low": var(--mds-interactive-brand-secondary-low),
  "brand-secondary-mid": var(--mds-interactive-brand-secondary-mid),
  "brand-secondary-high": var(--mds-interactive-brand-secondary-high),
  "brand-secondary-highest": var(--mds-interactive-brand-secondary-highest),
  "brand-tertiary-lowest": var(--mds-interactive-brand-tertiary-lowest),
  "brand-tertiary-low": var(--mds-interactive-brand-tertiary-low),
  "brand-tertiary-mid": var(--mds-interactive-brand-tertiary-mid),
  "brand-tertiary-high": var(--mds-interactive-brand-tertiary-high),
  "brand-tertiary-highest": var(--mds-interactive-brand-tertiary-highest),
  "utility-danger-lowest": var(--mds-interactive-utility-danger-lowest),
  "utility-danger-low": var(--mds-interactive-utility-danger-low),
  "utility-danger-mid": var(--mds-interactive-utility-danger-mid),
  "utility-danger-high": var(--mds-interactive-utility-danger-high),
  "utility-danger-highest": var(--mds-interactive-utility-danger-highest)
);
$section-scale: (
  "brand-neutral-lowest": var(--mds-section-brand-neutral-lowest),
  "brand-neutral-low": var(--mds-section-brand-neutral-low),
  "brand-neutral-mid": var(--mds-section-brand-neutral-mid),
  "brand-neutral-high": var(--mds-section-brand-neutral-high),
  "brand-neutral-highest": var(--mds-section-brand-neutral-highest),
  "brand-neutral-disabled": var(--mds-section-brand-neutral-disabled),
  "brand-primary-lowest": var(--mds-section-brand-primary-lowest),
  "brand-primary-mid": var(--mds-section-brand-primary-mid),
  "brand-primary-highest": var(--mds-section-brand-primary-highest),
  "brand-secondary-lowest": var(--mds-section-brand-secondary-lowest),
  "brand-secondary-mid": var(--mds-section-brand-secondary-mid),
  "brand-secondary-highest": var(--mds-section-brand-secondary-highest),
  "brand-tertiary-lowest": var(--mds-section-brand-tertiary-lowest),
  "brand-tertiary-mid": var(--mds-section-brand-tertiary-mid),
  "brand-tertiary-highest": var(--mds-section-brand-tertiary-highest),
  "utility-informative-lowest": var(--mds-section-utility-informative-lowest),
  "utility-informative-mid": var(--mds-section-utility-informative-mid),
  "utility-informative-highest": var(--mds-section-utility-informative-highest),
  "utility-danger-lowest": var(--mds-section-utility-danger-lowest),
  "utility-danger-mid": var(--mds-section-utility-danger-mid),
  "utility-danger-highest": var(--mds-section-utility-danger-highest),
  "utility-warning-lowest": var(--mds-section-utility-warning-lowest),
  "utility-warning-mid": var(--mds-section-utility-warning-mid),
  "utility-warning-highest": var(--mds-section-utility-warning-highest),
  "utility-success-lowest": var(--mds-section-utility-success-lowest),
  "utility-success-mid": var(--mds-section-utility-success-mid),
  "utility-success-highest": var(--mds-section-utility-success-highest)
);

$border-scale: (
  "brand-neutral-lowest": var(--mds-border-brand-neutral-lowest),
  "brand-neutral-low": var(--mds-border-brand-neutral-low),
  "brand-neutral-mid": var(--mds-border-brand-neutral-mid),
  "brand-neutral-high": var(--mds-border-brand-neutral-high),
  "brand-primary-lowest": var(--mds-border-brand-primary-lowest),
  "brand-primary-low": var(--mds-border-brand-primary-low),
  "brand-primary-mid": var(--mds-border-brand-primary-mid),
  "brand-primary-high": var(--mds-border-brand-primary-high),
  "brand-primary-highest": var(--mds-border-brand-primary-highest),
  "brand-secondary-lowest": var(--mds-border-brand-secondary-lowest),
  "brand-secondary-low": var(--mds-border-brand-secondary-low),
  "brand-secondary-mid": var(--mds-border-brand-secondary-mid),
  "brand-secondary-high": var(--mds-border-brand-secondary-high),
  "brand-secondary-highest": var(--mds-border-brand-secondary-highest),
  "brand-highlight-mid": var(--mds-border-brand-highlight-mid),
  "utility-informative-low": var(--mds-border-utility-informative-low),
  "utility-informative-mid": var(--mds-border-utility-informative-mid),
  "utility-danger-low": var(--mds-border-utility-danger-low),
  "utility-danger-mid": var(--mds-border-utility-danger-mid),
  "utility-warning-low": var(--mds-border-utility-warning-low),
  "utility-warning-mid": var(--mds-border-utility-warning-mid),
  "utility-success-low": var(--mds-border-utility-success-low),
  "utility-success-mid": var(--mds-border-utility-success-mid)
);
$focus-scale: (
  "on-light": var(--mds-focus-on-light),
  "on-dark": var(--mds-focus-on-dark)
);

$surface-scale: (
  "default": var(--mds-surface-default)
);
$base-scale: (
  "white": var(--mds-base-white),
  "black": var(--mds-base-black),
  "inverse": var(--mds-base-inverse)
);
$opacity-scale: (
  "white-20": var(--mds-opacity-white-20),
  "white-30": var(--mds-opacity-white-30),
  "white-70": var(--mds-opacity-white-70),
  "white-80": var(--mds-opacity-white-80),
  "neutral-mid": var(--mds-opacity-neutral-mid)
);

$radius-scale: (
  "xs": var(--mds-radius-xs),
  "sm": var(--mds-radius-sm),
  "md": var(--mds-radius-md),
  "max": var(--mds-radius-max)
);
$shadow-scale: (
  "container": var(--mds-shadow-container),
  "modal": var(--mds-shadow-modal)
);
$shadow-hover-scale: (
  "hover-sm": var(--mds-shadow-hover-sm),
  "hover-md": var(--mds-shadow-hover-md)
);
$text-styles: (
  "heading-2xs": (
    font-family: var(--mds-text-heading-font-family),
    font-weight: var(--mds-text-heading-font-weight),
    font-size: var(--mds-text-heading-font-size-2xs),
    line-height: var(--mds-text-heading-line-height-2xs)
  ),
  "heading-xs": (
    font-family: var(--mds-text-heading-font-family),
    font-weight: var(--mds-text-heading-font-weight),
    font-size: var(--mds-text-heading-font-size-xs),
    line-height: var(--mds-text-heading-line-height-xs)
  ),
  "heading-sm": (
    font-family: var(--mds-text-heading-font-family),
    font-weight: var(--mds-text-heading-font-weight),
    font-size: var(--mds-text-heading-font-size-sm),
    line-height: var(--mds-text-heading-line-height-sm)
  ),
  "heading-md": (
    font-family: var(--mds-text-heading-font-family),
    font-weight: var(--mds-text-heading-font-weight),
    font-size: var(--mds-text-heading-font-size-md),
    line-height: var(--mds-text-heading-line-height-md)
  ),
  "heading-lg": (
    font-family: var(--mds-text-heading-font-family),
    font-weight: var(--mds-text-heading-font-weight),
    font-size: var(--mds-text-heading-font-size-lg),
    line-height: var(--mds-text-heading-line-height-lg)
  ),
  "heading-xl": (
    font-family: var(--mds-text-heading-font-family),
    font-weight: var(--mds-text-heading-font-weight),
    font-size: var(--mds-text-heading-font-size-xl),
    line-height: var(--mds-text-heading-line-height-xl)
  ),
  "heading-2xl": (
    font-family: var(--mds-text-heading-font-family),
    font-weight: var(--mds-text-heading-font-weight),
    font-size: var(--mds-text-heading-font-size-2xl),
    line-height: var(--mds-text-heading-line-height-2xl)
  ),
  "body": (
    font-family: var(--mds-text-body-font-family),
    font-weight: var(--mds-text-body-font-weight),
    font-size: var(--mds-text-body-font-size),
    line-height: var(--mds-text-body-line-height)
  ),
  "body-bold": (
    font-family: var(--mds-text-body-font-family),
    font-weight: var(--mds-text-body-font-weight-bold),
    font-size: var(--mds-text-body-font-size),
    line-height: var(--mds-text-body-line-height)
  ),
  "body-lg": (
    font-family: var(--mds-text-body-font-family),
    font-weight: var(--mds-text-body-font-weight),
    font-size: var(--mds-text-body-font-size-lg),
    line-height: var(--mds-text-body-line-height-lg)
  ),
  "body-lg-bold": (
    font-family: var(--mds-text-body-font-family),
    font-weight: var(--mds-text-body-font-weight-bold),
    font-size: var(--mds-text-body-font-size-lg),
    line-height: var(--mds-text-body-line-height-lg)
  ),
  "label-sm": (
    font-family: var(--mds-text-label-font-family),
    font-weight: var(--mds-text-label-font-weight),
    font-size: var(--mds-text-label-font-size-sm),
    line-height: var(--mds-text-label-line-height-sm)
  ),
  "label": (
    font-family: var(--mds-text-label-font-family),
    font-weight: var(--mds-text-label-font-weight),
    font-size: var(--mds-text-label-font-size),
    line-height: var(--mds-text-label-line-height)
  ),
  "label-md": (
    font-family: var(--mds-text-label-font-family),
    font-weight: var(--mds-text-label-font-weight),
    font-size: var(--mds-text-label-font-size-md),
    line-height: var(--mds-text-label-line-height-md)
  ),
  "label-lg": (
    font-family: var(--mds-text-label-font-family),
    font-weight: var(--mds-text-label-font-weight),
    font-size: var(--mds-text-label-font-size-lg),
    line-height: var(--mds-text-label-line-height-lg)
  ),
  "label-xl": (
    font-family: var(--mds-text-label-font-family),
    font-weight: var(--mds-text-label-font-weight),
    font-size: var(--mds-text-label-font-size-xl),
    line-height: var(--mds-text-label-line-height-xl)
  ),
  "eyebrow": (
    font-family: var(--mds-text-eyebrow-font-family),
    font-weight: var(--mds-text-eyebrow-font-weight),
    font-size: var(--mds-text-eyebrow-font-size),
    line-height: var(--mds-text-eyebrow-line-height),
    letter-spacing: 1px,
    text-transform: uppercase
  ),
  "eyebrow-md": (
    font-family: var(--mds-text-eyebrow-font-family),
    font-weight: var(--mds-text-eyebrow-font-weight),
    font-size: var(--mds-text-eyebrow-font-size-md),
    line-height: var(--mds-text-eyebrow-line-height-md),
    letter-spacing: 1px,
    text-transform: uppercase
  ),
  "caption-sm": (
    font-family: var(--mds-text-caption-font-family),
    font-weight: var(--mds-text-caption-font-weight),
    font-size: var(--mds-text-caption-font-size-sm),
    line-height: var(--mds-text-caption-line-height-sm)
  ),
  "caption": (
    font-family: var(--mds-text-caption-font-family),
    font-weight: var(--mds-text-caption-font-weight),
    font-size: var(--mds-text-caption-font-size),
    line-height: var(--mds-text-caption-line-height)
  ),
  "caption-bold": (
    font-family: var(--mds-text-caption-font-family),
    font-weight: var(--mds-text-caption-font-weight-bold),
    font-size: var(--mds-text-caption-font-size),
    line-height: var(--mds-text-caption-line-height)
  ),
  "caption-md": (
    font-family: var(--mds-text-caption-font-family),
    font-weight: var(--mds-text-caption-font-weight),
    font-size: var(--mds-text-caption-font-size-md),
    line-height: var(--mds-text-caption-line-height-md)
  )
);
$grid-span-scale: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
