@use "pkg:@massds/mds-styles/scss" as mixins;

/** Site Header component styles **/

.mds-site-header {
  @include mixins.box-sizing-reset;
  @include mixins.text-block-reset;
  @include mixins.font-smoothing-reset;

  width: 100%;
  background-color: var(--mds-background-section-brand-neutral-lowest);
  color: var(--mds-content-brand-secondary-mid);

  &__container {
    @include mixins.section-container;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-block: var(--mds-space-sm);
  }

  &__title {
    display: flex;
    flex: 1 0 0;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: var(--mds-space-sm);
    color: inherit;
    text-decoration: none;

    @include mixins.focus;
  }

  &__seal {
    width: 54px;
    height: 54px;
    align-self: self-start;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--mds-space-3xs);
  }

  &__site-name {
    @include mixins.text("heading-sm");
  }

  &__subheading {
    @include mixins.text("eyebrow-md");
  }
}
