@mixin focus($focus-on-light: true) {
  &:focus-visible {
    border-radius: var(--mds-radius-sm);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;

    @if $focus-on-light {
      outline-color: var(--mds-focus-on-light);
    } @else {
      outline-color: var(--mds-focus-on-dark);
    }
  }
}
