@use "./breakpoints" as breakpoints;

@function grid-column-span($columns) {
  @return span calc(var(--mds-breakpoint-horizontal-space-columns) / #{$columns});
}

@function responsive-grid-selector($prefix, $class-name) {
  @if not $prefix {
    @return ".#{$class-name}";
  }

  @return ".#{$prefix}\\:#{$class-name}";
}

@mixin emit-grid-span-utilities($scale, $aliases: ()) {
  @each $value in $scale {
    .mds-grid-span-#{$value} {
      grid-column: span #{$value};
    }
  }

  @each $name, $value in $aliases {
    @if $name == "full" {
      .mds-grid-#{$name} {
        grid-column: 1 / -1;
      }
    } @else {
      .mds-grid-#{$name} {
        grid-column: span #{$value};
      }
    }
  }
}

@mixin emit-responsive-grid-span-utilities($scale, $aliases: (), $breakpoint-scale: breakpoints.$breakpoints) {
  @each $prefix, $size in $breakpoint-scale {
    @media (max-width: $size) {
      @each $value in $scale {
        #{responsive-grid-selector($prefix, "mds-grid-span-#{$value}")} {
          grid-column: span #{$value};
        }
      }
    }
  }
}
