@mixin box-sizing-reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@mixin text-block-reset {
  h1,
  h2,
  p {
    margin: 0;
  }
}

@mixin address-reset {
  address {
    font-style: normal;
  }
}

@mixin unordered-list-reset {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

// This reset will only make a visual difference on MacOS devices, as PCs/others do not have that level of font rendering
@mixin font-smoothing-reset {
  *,
  *::before,
  *::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
