$space-scale: (
  "3xs": var(--mds-space-3xs),
  "2xs": var(--mds-space-2xs),
  "xs": var(--mds-space-xs),
  "sm": var(--mds-space-sm),
  "md": var(--mds-space-md),
  "lg": var(--mds-space-lg),
  "xl": var(--mds-space-xl),
  "2xl": var(--mds-space-2xl),
  "3xl": var(--mds-space-3xl)
);

$background-scale: (
  "transparent": var(--mds-background-transparent),
  "surface-default": var(--mds-background-surface-default),
  "section-brand-neutral-lowest": var(--mds-background-section-brand-neutral-lowest),
  "section-brand-neutral-low": var(--mds-background-section-brand-neutral-low),
  "section-brand-neutral-mid": var(--mds-background-section-brand-neutral-mid),
  "section-brand-neutral-high": var(--mds-background-section-brand-neutral-high),
  "section-brand-neutral-highest": var(--mds-background-section-brand-neutral-highest),
  "section-brand-neutral-disabled": var(--mds-background-section-brand-neutral-disabled),
  "section-brand-primary-lowest": var(--mds-background-section-brand-primary-lowest),
  "section-brand-primary-mid": var(--mds-background-section-brand-primary-mid),
  "section-brand-primary-highest": var(--mds-background-section-brand-primary-highest),
  "section-brand-secondary-lowest": var(--mds-background-section-brand-secondary-lowest),
  "section-brand-secondary-mid": var(--mds-background-section-brand-secondary-mid),
  "section-brand-secondary-highest": var(--mds-background-section-brand-secondary-highest),
  "section-brand-tertiary-lowest": var(--mds-background-section-brand-tertiary-lowest),
  "section-brand-tertiary-mid": var(--mds-background-section-brand-tertiary-mid),
  "section-brand-tertiary-highest": var(--mds-background-section-brand-tertiary-highest),
  "section-utility-informative-lowest": var(--mds-background-section-utility-informative-lowest),
  "section-utility-informative-mid": var(--mds-background-section-utility-informative-mid),
  "section-utility-informative-highest": var(--mds-background-section-utility-informative-highest),
  "section-utility-danger-lowest": var(--mds-background-section-utility-danger-lowest),
  "section-utility-danger-mid": var(--mds-background-section-utility-danger-mid),
  "section-utility-danger-highest": var(--mds-background-section-utility-danger-highest),
  "section-utility-warning-lowest": var(--mds-background-section-utility-warning-lowest),
  "section-utility-warning-mid": var(--mds-background-section-utility-warning-mid),
  "section-utility-warning-highest": var(--mds-background-section-utility-warning-highest),
  "section-utility-success-lowest": var(--mds-background-section-utility-success-lowest),
  "section-utility-success-mid": var(--mds-background-section-utility-success-mid),
  "section-utility-success-highest": var(--mds-background-section-utility-success-highest),
  "adaptive-brand-neutral-lowest": var(--mds-background-adaptive-brand-neutral-lowest),
  "adaptive-brand-neutral-low": var(--mds-background-adaptive-brand-neutral-low),
  "adaptive-brand-neutral-mid": var(--mds-background-adaptive-brand-neutral-mid),
  "adaptive-brand-neutral-high": var(--mds-background-adaptive-brand-neutral-high),
  "adaptive-brand-neutral-highest": var(--mds-background-adaptive-brand-neutral-highest),
  "adaptive-brand-neutral-disabled": var(--mds-background-adaptive-brand-neutral-disabled),
  "adaptive-brand-primary-lowest": var(--mds-background-adaptive-brand-primary-lowest),
  "adaptive-brand-primary-low": var(--mds-background-adaptive-brand-primary-low),
  "adaptive-brand-primary-mid": var(--mds-background-adaptive-brand-primary-mid),
  "adaptive-brand-primary-high": var(--mds-background-adaptive-brand-primary-high),
  "adaptive-brand-primary-highest": var(--mds-background-adaptive-brand-primary-highest),
  "adaptive-brand-secondary-lowest": var(--mds-background-adaptive-brand-secondary-lowest),
  "adaptive-brand-secondary-low": var(--mds-background-adaptive-brand-secondary-low),
  "adaptive-brand-secondary-mid": var(--mds-background-adaptive-brand-secondary-mid),
  "adaptive-brand-secondary-high": var(--mds-background-adaptive-brand-secondary-high),
  "adaptive-brand-secondary-highest": var(--mds-background-adaptive-brand-secondary-highest),
  "adaptive-brand-tertiary-lowest": var(--mds-background-adaptive-brand-tertiary-lowest),
  "adaptive-brand-tertiary-low": var(--mds-background-adaptive-brand-tertiary-low),
  "adaptive-brand-tertiary-mid": var(--mds-background-adaptive-brand-tertiary-mid),
  "adaptive-brand-tertiary-high": var(--mds-background-adaptive-brand-tertiary-high),
  "adaptive-brand-tertiary-highest": var(--mds-background-adaptive-brand-tertiary-highest),
  "adaptive-brand-highlight-mid": var(--mds-background-adaptive-brand-highlight-mid),
  "adaptive-utility-informative-lowest": var(--mds-background-adaptive-utility-informative-lowest),
  "adaptive-utility-informative-low": var(--mds-background-adaptive-utility-informative-low),
  "adaptive-utility-informative-mid": var(--mds-background-adaptive-utility-informative-mid),
  "adaptive-utility-informative-high": var(--mds-background-adaptive-utility-informative-high),
  "adaptive-utility-informative-highest": var(--mds-background-adaptive-utility-informative-highest),
  "adaptive-utility-danger-lowest": var(--mds-background-adaptive-utility-danger-lowest),
  "adaptive-utility-danger-low": var(--mds-background-adaptive-utility-danger-low),
  "adaptive-utility-danger-mid": var(--mds-background-adaptive-utility-danger-mid),
  "adaptive-utility-danger-high": var(--mds-background-adaptive-utility-danger-high),
  "adaptive-utility-danger-highest": var(--mds-background-adaptive-utility-danger-highest),
  "adaptive-utility-warning-lowest": var(--mds-background-adaptive-utility-warning-lowest),
  "adaptive-utility-warning-low": var(--mds-background-adaptive-utility-warning-low),
  "adaptive-utility-warning-mid": var(--mds-background-adaptive-utility-warning-mid),
  "adaptive-utility-warning-high": var(--mds-background-adaptive-utility-warning-high),
  "adaptive-utility-warning-highest": var(--mds-background-adaptive-utility-warning-highest),
  "adaptive-utility-success-lowest": var(--mds-background-adaptive-utility-success-lowest),
  "adaptive-utility-success-low": var(--mds-background-adaptive-utility-success-low),
  "adaptive-utility-success-mid": var(--mds-background-adaptive-utility-success-mid),
  "adaptive-utility-success-high": var(--mds-background-adaptive-utility-success-high),
  "adaptive-utility-success-highest": var(--mds-background-adaptive-utility-success-highest),
  "overlay": var(--mds-background-overlay)
);

$text-and-icons-scale: (
  "inverse": var(--mds-inverse),
  "brand-neutral-default": var(--mds-text-and-icons-brand-neutral-default),
  "brand-neutral-muted": var(--mds-text-and-icons-brand-neutral-muted),
  "brand-neutral-disabled": var(--mds-text-and-icons-brand-neutral-disabled),
  "brand-primary-mid": var(--mds-text-and-icons-brand-primary-mid),
  "brand-secondary-mid": var(--mds-text-and-icons-brand-secondary-mid),
  "utility-informative-mid": var(--mds-text-and-icons-utility-informative-mid),
  "utility-danger-mid": var(--mds-text-and-icons-utility-danger-mid),
  "utility-warning-mid": var(--mds-text-and-icons-utility-warning-mid),
  "utility-success-mid": var(--mds-text-and-icons-utility-success-mid)
);

$radius-scale: (
  "xs": var(--mds-radius-xs),
  "sm": var(--mds-radius-sm),
  "md": var(--mds-radius-md),
  "max": var(--mds-radius-max)
);

$shadow-scale: (
  "container": var(--mds-shadow-container),
  "modal": var(--mds-shadow-modal),
  "hover-sm": var(--mds-shadow-hover-sm),
  "hover-md": var(--mds-shadow-hover-md)
);

$font-scale: (
  "heading-2xs": var(--mds-text-heading-2xs),
  "heading-xs": var(--mds-text-heading-xs),
  "heading-sm": var(--mds-text-heading-sm),
  "heading-md": var(--mds-text-heading-md),
  "heading-lg": var(--mds-text-heading-lg),
  "heading-xl": var(--mds-text-heading-xl),
  "heading-2xl": var(--mds-text-heading-2xl),
  "body": var(--mds-text-body),
  "body-bold": var(--mds-text-body-bold),
  "body-lg": var(--mds-text-body-lg),
  "body-lg-bold": var(--mds-text-body-lg-bold),
  "label-sm": var(--mds-text-label-sm),
  "label": var(--mds-text-label),
  "label-md": var(--mds-text-label-md),
  "label-lg": var(--mds-text-label-lg),
  "label-xl": var(--mds-text-label-xl),
  "eyebrow": var(--mds-text-eyebrow),
  "eyebrow-md": var(--mds-text-eyebrow-md),
  "caption-sm": var(--mds-text-caption-sm),
  "caption": var(--mds-text-caption),
  "caption-bold": var(--mds-text-caption-bold),
  "caption-md": var(--mds-text-caption-md)
);

$text-transform-scale: (
  "eyebrow": var(--mds-text-transform-eyebrow)
);

$letter-spacing-scale: (
  "eyebrow": var(--mds-text-letter-spacing-eyebrow)
);

$grid-span-scale: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

$grid-span-aliases: (
  "full": 12,
  "2-column": 6,
  "3-column": 4,
  "4-column": 3
);
